<h3>Register</h3>

 <%= erb :'_errors' %>

 <form class="registation-form" method="post" action="/users">
   <input type="text" name="user[first_name]" placeholder="first name">
   <input type="text" name="user[last_name]" placeholder="last name">
   <input type="email" name="user[email]" placeholder="email">
   <input type="password" name="user[password]" placeholder="password">
   <input class="user-form-submit" type="submit" value="register">
 </form>
