<h3>Login</h3>

<%= erb :'_errors' %>

<form method="post" action="/sessions">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">

  <input type="submit" value="Login">
</form>
