<h3>Register</h3>

 <%= erb :'_errors' %>

 <form method="post" action="/users">
   <input type="text" name="user[username]" placeholder="Username">
   <input type="email" name="user[email]" placeholder="Email">
   <input type="password" name="password" placeholder="Password">
   <input type="submit" value="Submit">
 </form>
